/*Globals*/ 
:root{
    --main-bg-color: #141414; 
    --carousel-control-color: #fff; 
    --footer-font-color: #333; 
}
*{ 
    margin: 0; 
    padding: 0;
    outline: 0; 
    color: white; 
    font-family: "Inter",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    
}
body{
    background-color: var(--main-bg-color); 
}
p{
    line-height: 100%;
}
.desktop{
    text-decoration: none;
    transition: color 500ms;
    -webkit-transition: color 500ms;
    -moz-transition: color 500ms;
    -ms-transition: color 500ms;
    -o-transition: color 500ms;
}
.desktop:hover{
    color: red;
    
}
/*Header and footer start here */ 
header, footer{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 8vh; 
    background-color: transparent;
    align-items: center;
    z-index: 2;
    gap: 2em;
}
#logo{
    width: 9em; 
    height: auto; 
}
footer{
    justify-content: center;
}
footer p{
    color: var(--footer-font-color);
}

/*Header and footer end here*/ 

/*Featured title starts here */

.features{
    position: relative;
    height: 85vh;
    padding-left: 3%;
    padding-right: 3%;  
    width: 94%; 
}
.features .background-image{
    position: absolute;
    height: auto;
    opacity: 0.2;
    width: 100%;
    top: 0; 
    margin-right: -3%; 
    margin-left: -3%;
}
.title{
    position: absolute;
    top: 20vh;
    color: #fff;
    font-size: 2.6em;
    border-radius: 5%;
    font-weight: 700;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;

}

/*Featured 
title ends here */
/*Movies carousel stats here */ 
main{
    position: relative;
    margin: 50vh 0 0 0;
    z-index: 1;
}
.container{
    position: relative;
    max-width: 100%;
    display: flex;
    align-items: center;
    height: 24vh;
    margin: 1vh  0vh; 
    justify-content: space-between;
}
.scroll-left, .scroll-right{
    position: absolute;
    width: 2.5vh;
    height: 2.5vh;
    border-top: 2px solid var(--carousel-control-color);
    border-right: 2px solid var(--carousel-control-color);
    top:10vh;
    background-color: transparent;
    z-index: 1;
}
.scroll-left{
    z-index: 100;
    left: 0;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
}
.scroll-right{
    z-index: 100;
    right: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.carousel{
    position: absolute;
    display: flex;
    max-width: 100%;
    overflow-x: hidden ;
    z-index: 99;
    gap: .5%; 
    align-items: center;
    height: 24vh;
}
.stripe{
    z-index: 50;
    width: 1vw; 
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}
.carousel .titles img{
    height: 20vh;
    transition: transform 200ms;
    -webkit-transition: transform 200ms;
    -moz-transition: transform 200ms;
    -ms-transition: transform 200ms;
    -o-transition: transform 200ms;
    padding: 2%;
    border-radius: 4%;
    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
    -ms-border-radius: 4%;
    -o-border-radius: 4%;
}
.titles{
    position: relative;
    transition: transform 500ms;
    -webkit-transition: transform 500ms;
    -moz-transition: transform 500ms;
    -ms-transition: transform 500ms;
    -o-transition: transform 500ms;
}
.carousel .titles img:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.3)  0px 20px 30px -10px;
}
.Movie_Title{
    position: absolute;
    bottom: 10px; 
    scale: 0;
    transition: scale 500ms;
    -webkit-transition: scale 500ms;
    -moz-transition: scale 500ms;
    -ms-transition: scale 500ms;
    -o-transition: scale 500ms;
    z-index: 10;
    color: #fff;
    background-color: var(--main-bg-color);
    font-weight: 700;  
}
.carousel .titles img:hover ~ .Movie_Title{
    scale: 1; 

}
.category {
    font-weight: 600;
    font-size: large;
}
/*Movies carousel ends here */ 

@media only screen and (max-width: 822px) {
   .desktop{
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        position: absolute;
}
}