/*Globals*/ 
:root{
    --main-bg-color: #141414; 
    --carousel-control-color: #d81f26; 
    --footer-font-color: #333; 
}
*{ 
    margin: 0; 
    padding: 0;
    font-family: "Inter",sans-serif;
}
body{
    margin: 0 2% 0 2% ;
    background-color: var(--main-bg-color); 
}
p{
    color: white; 
    line-height: 100%;
}
/*Header and footer start here */ 
header, footer{
    display: flex;
    flex-direction: row;
    height: 8vh; 
    width: 100%; 
    background-color: #141414;
    align-items: center;
}
label{
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}
#logo{
    width: 8rem; 
    height: auto; 
}
footer{
    position: fixed;
    bottom: 0;
    justify-content: center;
}
footer p{
    color: var(--footer-font-color);
}
/*Header and footer end here*/ 

/*Movies carousel starts here */ 
main {
    max-width: 100%; 
    height: auto; 
    margin-top: 5vh;
}
.container{
    position: relative;
    max-width: 100%;
    height: 18vh;
    margin: 1vh  0vh; 
    z-index: 98;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 25px 20px -20px;
}
.scroll-left, .scroll-right{
    position: absolute;
    width: 1vh;
    height: 1vh;
    border-top: 2px solid var(--carousel-control-color);
    border-right: 2px solid var(--carousel-control-color);
    top: 8vh;
    background-color: transparent;
    z-index: 100;
}
.scroll-left{
    left: 0;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
}
.scroll-right{
    right: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.carousel{
    position: absolute;
    display: flex;
    width: 96vw;
    overflow-x: hidden ;
    z-index: 99;
}
.carousel .titles img{
    height: 18vh;
    transition: transform 500ms;
    -webkit-transition: transform 500ms;
    -moz-transition: transform 500ms;
    -ms-transition: transform 500ms;
    -o-transition: transform 500ms, box-shadow 1s;
}
.carousel .titles img:hover{
    transform: scale(.90);
    -webkit-transform: scale(.90);
    -moz-transform: scale(.90);
    -ms-transform: scale(.90);
    -o-transform: scale(.90);
    box-shadow: rgba(0, 0, 0, 0.3)  0px 20px 30px -10px;
}
/*Movies carousel ends here */ 

